@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
html {
  font-size: 62.5%;
  font-family: "Lexend Deca", sans-serif;
  height: 100vh; }

.container {
  min-width: 375px;
  margin: 5em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.card {
  padding: 4em;
  max-width: 15rem; }
  .card:first-child {
    border-radius: 8px 8px 0 0; }
  .card:nth-child(2) {
    border-radius: 0; }
  .card:last-child {
    border-radius: 0 0 8px 8px; }
  .card__icon {
    width: 50px; }
  .card__title {
    color: #f2f2f2;
    font-family: "Big Shoulders Display", cursive;
    font-size: 3.2rem;
    margin-top: 1em;
    text-transform: uppercase; }
  .card__text {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
    line-height: 1.6;
    margin-top: 1.5em;
    inline-size: 220px; }
  .card__button {
    background-color: #f2f2f2;
    border-radius: 25px;
    font-size: 1.25rem;
    font-family: "Lexend Deca", sans-serif;
    margin-top: 1.5em;
    padding: .8em 1em;
    width: 10em;
    border: none; }
    .card__button--orange {
      color: #e38f35; }
    .card__button--darkcyan {
      color: #006970; }
    .card__button--verydarkcyan {
      color: #004241; }
  .card--orange {
    background-color: #e38f35; }
  .card--darkcyan {
    background-color: #006970; }
  .card--verydarkcyan {
    background-color: #004241; }

@media (min-width: 1400px) {
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: row; }
  .card {
    max-width: 270px; }
    .card:first-child {
      border-radius: 8px 0 0 8px; }
    .card:nth-child(2) {
      border-radius: 0; }
    .card:last-child {
      border-radius: 0 8px 8px 0; }
    .card__text {
      inline-size: 193px; }
    .card__button {
      margin-top: 5em; } }
